<a href="https://colab.research.google.com/github/Azariagmt/Twitter-Data-Analysis/blob/notebooks/notebooks/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Second round of cleaning in notebook env

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv('/content/processed_tweet_data.csv')

In [19]:
df.head()

   id  ...             location
0   0  ...                 Mass
1   1  ...  Edinburgh, Scotland
2   2  ...                  NaN
3   3  ...                  NaN
4   4  ...       United Kingdom

[5 rows x 16 columns]

In [20]:
# Form a new data frame (named cleanTweet), containing columns  clean-text  and  polarity .
cleanTweet = df[['polarity', 'original_text']]
cleanTweet.head()

   polarity                                      original_text
0  0.166667  üö®Africa is "in the midst of a full-blown third...
1  0.133333  Dr Moeti is head of WHO in Africa, and one of ...
2  0.316667  Thank you @research2note for creating this ama...
3  0.086111  Former Pfizer VP and Virologist, Dr. Michael Y...
4  0.280000  I think it‚Äôs important that we don‚Äôt sell COVA...

### Basic preprocessing

In [21]:
cleanTweet.dtypes

polarity         float64
original_text     object
dtype: object

## important steps in preprocessing text
Make text all lower case <br>
Remove punctuation <br>
Remove numerical values <br>
Remove common non-sensical text <br>
Tokenize text <br>
Remove stop words <br>

In [22]:
# nltk package contains stop words we'll remove using regular expressions
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [23]:
# convert all original_text fields to strings
cleanTweet['original_text'] = cleanTweet['original_text'].astype(str)
cleanTweet['clean_text'] = cleanTweet['original_text'].str.replace('[^\w\s]','')
cleanTweet['clean_text'] = cleanTweet['clean_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
cleanTweet['clean_text'] = cleanTweet['clean_text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
# re.sub('\w*\d\w*', '', text)
cleanTweet['clean_text'] = cleanTweet['clean_text'].str.replace('\w*\d\w*','')
cleanTweet.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   polarity  ...                                         clean_text
0  0.166667  ...  africa midst fullblown third wave coronavirus ...
1  0.133333  ...  dr moeti head who africa one best public healt...
2  0.316667  ...  thank  creating amazing campaign amp turning s...
3  0.086111  ...  former pfizer vp virologist dr michael yeadon ...
4  0.280000  ...  i think important dont sell covax short it sti...

[5 rows x 3 columns]

In [24]:
# normally we tokenize using words so each word as a token
#Lines 4 to 6
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
cleanTweet['clean_text'] = cleanTweet['clean_text'].apply(lambda x: " ".join([stemmer.stem(word) for word in x.split()]))

cleanTweet[['polarity','original_text','clean_text']].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

   polarity  ...                                         clean_text
0  0.166667  ...  africa midst fullblown third wave coronaviru h...
1  0.133333  ...  dr moeti head who africa one best public healt...
2  0.316667  ...  thank creat amaz campaign amp turn social medi...
3  0.086111  ...  former pfizer vp virologist dr michael yeadon ...
4  0.280000  ...  i think import dont sell covax short it still ...

[5 rows x 3 columns]

In [25]:
# Write a function text_category that takes a value p and returns, depending on the value of p, a string 'positive', 'negative' or 'neutral'.
def text_category(p):
  if p > 0:
    return 'positive'
  elif p < 0:
    return 'negative'
  else: return 'neutral'

In [26]:
# Apply this function (text_category) on the  polarity  column of cleanTweet in 1 above to form a new column called  score  in cleanTweet.

scores = pd.Series([text_category(row_val) for row_val in cleanTweet['polarity']])
cleanTweet = pd.concat([cleanTweet, scores.rename("score")], axis=1)
cleanTweet.head()

   polarity  ...     score
0  0.166667  ...  positive
1  0.133333  ...  positive
2  0.316667  ...  positive
3  0.086111  ...  positive
4  0.280000  ...  positive

[5 rows x 4 columns]

In [27]:
# remove nan tweets
cleanTweet = cleanTweet[cleanTweet['clean_text']!="nan"]

## Document term matrix
For many of the techniques we'll be using in future notebooks, the text must be tokenized, meaning broken down into smaller pieces. The most common tokenization technique is to break down text into words. We can do this using scikit-learn's CountVectorizer, where every row will represent a different document and every column will represent a different word.

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
count_vect = CountVectorizer((3,3), stop_words="english")
# count vectorizer to remove stopwords

In [29]:
# X_train_counts = count_vect.fit_transform(X_train)
data_cv = count_vect.fit_transform(cleanTweet['clean_text'])
data_dtm = pd.DataFrame(data_cv.toarray(), columns=count_vect.get_feature_names())
data_dtm.index = cleanTweet.index
data_dtm

      _africanunion  _mamadeb  aarc_tweet  ...  ‡∏Ç‡∏≤‡∏ß‡∏î‡∏ß‡∏ô  ‡∏Ñ‡∏ô‡πÑ‡∏£‡∏ö‡∏≤‡∏ô  ‡∏ß‡∏Ñ‡∏ã‡∏ô
0                 0         0           0  ...       0        0     0
1                 0         0           0  ...       0        0     0
2                 0         0           0  ...       0        0     0
3                 0         0           0  ...       0        0     0
4                 0         0           0  ...       0        0     0
...             ...       ...         ...  ...     ...      ...   ...
3715              0         0           0  ...       0        0     0
3716              0         0           0  ...       0        0     0
3717              0         0           0  ...       0        0     0
3718              0         0           0  ...       0        0     0
3719              0         0           0  ...       0        0     0

[2248 rows x 2927 columns]

## Pickle for later use

In [30]:
import pickle
# Let's pickle it for later use
data_dtm.to_pickle("dtm.pkl")
# Let's also pickle the cleaned data (before we put it in document-term matrix format) and the CountVectorizer object
cleanTweet.to_pickle('data_clean.pkl')
pickle.dump(count_vect, open("count_vect.pkl", "wb"))

## References
https://www.pluralsight.com/guides/building-features-from-text-data <br>
https://github.com/adashofdata/nlp-in-python-tutorial/blob/master/1-Data-Cleaning.ipynb